*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}
/*inizio header*/
.contenitore{
    height: 190px ;
    background-color:rgb(78, 160, 255);
    background-image: url(./img/pattern.png);
    background-size: auto;
    position: relative;
}
.logo{
    width: 250px ;
    margin-left: 1%;
    position: absolute;
    bottom: 0;
}
h1 {
    font-size: 40px;
  }
#Booleaner{
color: rgb(99, 195, 236);
}
.info{
    color: rgb(203, 203, 203);
    font-size: 20px;
}
.info.data {
    font-size: 15px;
    margin-bottom: 15px;
}
/*fine header*/ 
/*inizio foto tim*/ 
.didascalia {
    font-size: 15px;
    font-style: italic; 
    margin-bottom: 15px;
}
p{
    font-size: 20px;
    margin-bottom: 40px;
}
.giallo{
    background-color: yellow;
}
ul{
    margin-left: 30px;
    margin-bottom: 1%;
}
/*tabella*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1%;
}

td{
    width: 30%;
    
}

th{
    background-color: rgb(32, 169, 229);
    text-align: left;
    color: white;
}
tbody{
    background-color: rgb(177, 229, 242);
}
.bianco{
    background-color: white;
}
main{
    padding-left: 5%;
    padding-right: 5%;
}
/*esercizio bonus*/
.bonus{
    padding-left: 5%;
    padding-right: 5%;
}
